body {
    margin: 2%;
    border: 1px solid black;
    background-color: #b3b3b3;
}

#image {

    line-height: 1.5;
    padding-top: 250px;
    width: 575px;
    height: 400px;
    border: 5px solid black;
    margin: 0 auto;
    background-color: #8e68ff;
    background-image: url('');
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-align: center;
    background-size: cover;
    margin-bottom: 25px;
    font-size: 150%;
}

.preview {
    width: 150px;
    height: 100px;
    margin: 10px;
    border: 5px solid black;
    cursor: pointer;
}
